led_ring.enable        true         #
led_ring.red_led_pin   1.22         #
led_ring.green_led_pin 0.25         #
led_ring.blue_led_pin  4.29         #
#led_ring.hot_led_pin   2.8         # optional pin that goes on when something is hot

# optional uncomment to set, values are the default
#led_ring.red_max_pwm 255         # max pwm for green
#led_ring.green_max_pwm 255       # max pwm for green
#led_ring.blue_max_pwm 255        # max pwm for green
#led_ring.hot_max_pwm 255         # max pwm for green

#led_ring.print_finished_timeout 30  # timeout in seconds for the print finished sequence
#led_ring.hot_temp               50  # temp at which things are considered hot
